/* 闖ｴ蜥丞項髫ｪ�ｭ陞ｳ螢ｹ�堤ｹ晢ｽｪ郢ｧ�ｻ郢晢ｿｽ繝ｨ */
* {
	margin           : 0;
	padding          : 0;
}

p#right_align {
	text-align       : right;
}

p#left_align{
	text-align       : left;
}

p#center_align {
	text-align       : center;
}

/* 髢ｭ譴ｧ蜍ｹ豼ｶ�ｲ */
body {
	background-color : #ffffff;
}

/* 郢晢ｽｪ郢晢ｽｳ郢ｧ�ｯ邵ｺ�ｮ鬩溷ｴ守横 */
div#header div#menu a {
	color            : #FFFFFF;
}
div#wholewapper a {
	color            : #1B5790;
}
div#header div#menu a:hover,
div#wholewapper a:hover {
	color            : #B2D281;
}



/* 郢晏�繝｣郢晢ｿｽ�ｨ�ｭ陞ｳ�ｽ*/
div#header {
	background-color : #1B5090;

	color            : #FFFFFF;
	margin           : 0 auto;
	width            : 100%;
}

div#header div#menu {
	margin           : 10px;
	text-align       : right;
}
div#header h1 {
	padding-left     : 10px;
	padding-top      : 10px;
}

/* 郢晁ｼ斐Ε郢ｧ�ｿ髫ｪ�ｭ陞ｳ�ｽ*/
div#footer {
	background-color : #1B5790;
	color            : #FFFFFF;
	margin           : 0 auto;
	padding          : 5px 0;
	text-align       : right;
	width            : 100%;
	top: 100px;
	clear:both;
}

/* 郢ｧ�ｳ郢晢ｽｳ郢晢ｿｽﾎｦ郢晢ｿｽ�ｨ�ｭ陞ｳ�ｽ*/
div#wholewapper {
	background-color : #FFFFFF;
	font-size        : 95%;
	margin           : 0 auto;
	padding          : 10px 0;
	width            : 35%;

}

div#wholewapper a.edit {
	background       : url("../images/notebook_pencil.png") no-repeat center left;
	padding-left     : 1.5em;
}

div#wholewapper a.delete {
	background       : url("../images/notebook_minus.png") no-repeat center left;
	padding-left     : 1.5em;
}

div#wholewapper a.add_comment {
	background       : url("../images/notebook_plus.png") no-repeat center left;
	padding-left     : 1.5em;
}

div.post {
	border           : 1px solid #ccc;
	margin           : 0 auto 10px auto;
	padding          : 5px;
	width            : 90%;
}

div.post div.body {
	padding          : 10px;
}

div.post div.buttons {
	font-size        : 85%;
	text-align       : right;
}

h3.comments_header {
	border-top       : 1px solid #ccc;
	margin-bottom    : 10px;
	margin-top       : 10px;
	padding-top      : 10px;
}

div.post div.comments {
	font-size        : small;
	margin           : 5px auto;
	width            : 95%;
}

div.post div.comments p {
	padding-bottom   : 5px;
	padding-left     : 1.5em;
}

/*edit.css邵ｺ荵晢ｽ臥ｹｧ繧�夢邵ｺ�ｦ邵ｺ髦ｪ笳�/

/* 郢ｧ�ｨ郢晢ｽｩ郢晢ｽｼ郢晢ｽ｡郢晢ｿｽ縺晉ｹ晢ｽｼ郢ｧ�ｸ髯ｦ�ｨ驕会ｽｺ騾包ｽｨ */
#err_msg {
	color      : #EF0433;
	font-size  : 80%;
}

/* 陷ｿ�ｳ隰�ｿｽ竏ｴ騾包ｽｨ */
.right_align {
	text-align : right;
}


div#serch{
	width           :400px;
	height          :100px;
	margin-top      :70px;
	margin-left    :200px;
}

div#return{
	width           :700px;
	margin-left     :100px;
	height          :50px;

}

div#serch_label{
	width           :200px;
	margin-left     :100px;
	height          :30px;
}




/*郢ｧ�ｿ郢晄じ繝ｶ郢晢ｽｭ郢晢ｿｽ縺題抄諛茨ｿｽ*/
li{
	display:block;
	float:left
}

div#tub{
	height:40px;
}



.on {
	background-color:#537bff;
	width           :120px;
	height          :40px;
	margin-right    :5px;
	text-align     :center;
}
.on a{
	text-decoration:none;
	font-size      :20px;
	color          :#FFFFFF;
	display        :block;
	margin-top     :10px;

}


.off {
	background-color:#B2E7FF;
	width           :120px;
	height          :40px;
	margin-right    :5px;
	text-align     :center;
}
.off a{
	text-decoration:none;
	font-size      :20px;
	color          :#000000;
	display        :block;
	margin-top     :10px;

}



ul{
	margin:0px;
}

.box1{
	 height:10px;
}

.box2{
	clear:both;
	border-top:solid 10px #B2F881;
	background-color: #B2F881;



}
